body{
	background-image: none;
	background-color: #E4E5E8;
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, 'Apple SD Gothic Neo';
		height: 100%; /* fix height to 100% for IE */
	max-height: 100%; /* fix height for other browsers */
}


/* enlarge header elements */
.bodyback1, .websiteheader, .logohere { height: 49px; } .bodyback2 { top: 49px; } /* make values the same */
.bodyback2, .photoshopbrushes { height: 62px; }
/* widen columns */
.leftcol, .rightcol { width: auto; } /* change to __% width */
/*.rightcol { display: none !important; }*/ /* hide right column */
/* _____________ */

.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}




.bodyback1 {  z-index: -1; position: absolute; }
.bodyback2 {  z-index: -1; position: absolute; 
		  width: 100%; 
		  background-image: url('images/backforbrushonwards.gif');
}

.websiteheader, .bodyback1{
	background-image: url('images/headerback.png');
	width: 100%;
	background-size: cover; /* stretch to fit */
}

.logohere {
	margin-left: 80px;
	background-color: rgb(232,237,244);
	display: inline-block;
	box-sizing: border-box;
	/*margin-top: 8px;*/
	height: 80% !important;
	box-shadow: 10px 10px 0px 0px rgba(197,197,197,1);
}

.padding1 { padding: 8px; }

.logohere:hover{
	background-color: #99ccff;
	/*cursor: pointer;*/
}

.logohere a { height: 100%; display: block; }

.photoshopbrushes{
	background-image: url('images/photoshopbrushes.jpg');
	width: 100%;
	background-size: cover; /* stretch to fit */
}

.bordertop, .borderbottom, .border15 { width: 100%; height: 5px;  clear: both;}
.bordertop { background-image: url('images/menu-top1.png'); }
.borderbottom { background-image: url('images/menu-bottom.png'); }
.border15 { background-image: url('images/horizontal-divider-2.jpg'); }

.row{
    /* ie inline-block: fix
    http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
    http://www.quirksmode.org/css/display.html
    */
    float: left;
/*    padding-left: 8px;
    padding-right: 8px;*/
    padding-top: 0px;
    font-size: 14px;
    border: solid #000000 0px;
    vertical-align: middle;
    clear: both; 
    display: block;
    width: 100%;
}

.leftcol {
	background-image: url('images/columndivider.jpg'), url('images/horizontal-divider-1.png'), url('images/sidebar-edgeback-left2.gif'), url('images/sidebar-headerback.jpg') ; 
	background-position: right, bottom, left, top;
	background-repeat: repeat-y, repeat-x, repeat-y, repeat-x; 
	min-height: 150px;
	padding-top: 1em !important;
	padding-left: 8px !important;
	padding-right: 3px !important;
	box-sizing: border-box;
}

.rightcol{
	background-image: url('images/columndivider.jpg'), url('images/horizontal-divider-1.png'), url('images/sidebar-edgeback-right.gif'), url('images/sidebar-headerback.jpg')  ; 
	background-position: left, bottom, right, top;
	background-repeat: repeat-y, repeat-x, repeat-y, repeat-x; 
	min-height: 150px;
	padding-top: 1em !important;
	padding-right: 8px !important;
	padding-left: 3px !important;
	box-sizing: border-box;
}

.midcol{ background-color: white; min-width: 498px; }

.footer, .footerxgradient { margin-bottom: 24px; }

.footer{
	background-image: url('images/columndivider.jpg'), url('images/columndivider.jpg'), url('images/horizontal-divider-1.png');
	background-position: left, right, bottom;
	background-repeat: repeat-y, repeat-y, repeat-x;

	min-height: 190px;
	height: auto; /* allows .footergradient to work */
	width: 100%;
	padding-bottom: 4px; /* shows the border at the bottom */
}

.footergradient{
	background-color: rgb(251,251,251);
	background-image: linear-gradient(180deg, rgba(251,251,251,1) 0%, rgba(204,204,204,1) 100%);
	/*margin: 20px;*/
	/*position: relative; top: 3px;*/
	margin-left: 3px;
	margin-right: 3px;
	box-sizing: border-box;

	height: calc(100% - 4px);
	display: flex;
	
}

.footercontent {
	
	margin-left: auto;
	margin-right: auto;
	background-color: #e4E5E8;
	min-height: 150px;
	width: 90%;
display: block;
padding: 1em;
box-sizing: border-box;
border: 1px dotted #C0C0C0;

position: relative; bottom: 12px; /* margin-bottom doesn't work */
margin-top: 24px;
padding: 1em;
}

.clear { clear: both; }

p { padding: 0px 5px; }

.pageheader{ width: 100%; min-height: 53px; 

	/* pshop can be changed to 4h or 5h to look worse */
	background-image: 
	url('images/contentheaderback-left.jpg')
	,url('images/contentheaderback-loop.png')
	,url('images/contentheaderback-left-under-pshop.png')
	,url('images/contentheaderback-loop-under-pshop.png')
	;
	background-position: top left, top, left, auto;
	background-repeat: no-repeat, repeat-x, repeat-y, repeat;

color: #808080; font-size: 32px; 
padding-left: 1em; padding-top: 0.15em;
line-height: normal !important;

}


.column{ float: left; padding: 0px; vertical-align: top; overflow: hidden; text-align: left;
 border: 0px solid black; min-width: 100px; /*clear: both;*/ }

.menuoption, .menu_divide, .topmenu li { height: 31px; }

.menuhere { background-color: #e5e5e5; height: 40px; }
.menuhere img { display: table; }
.menuhere a:link, .menuhere a:visited, .logohere a:link, .logohere a:visited { /*color: black;*/ text-decoration: none; }

.menu_divide { display: inline-block; 
	float:left; clear: none; /*remove spacing inbetween divs*/
 background-image: url('images/menu-divider1.png') !important;
background-repeat: repeat-x !important;
  width: 9px;
 padding: 0px !important;
}

.menu_starter, ul::before { 
	/*display: none !important;*/ /* hide the menu border at left and right */
	/*display: inline-block; */
	/*content: "   ";*/
	 /*remove spacing inbetween divs*/
 background-image: url('images/menu-starter.png') !important;
background-repeat: repeat-x !important;
  width: 9px;
  border: 1px solid red;
 padding: 0px !important;
}


/*
tr { padding: 0px; margin: 0px;
table {border-spacing: 0px; border-collapse: collapse;}
td { vertical-align: middle }
td img { display: block; }
*/

ul.topmenu { margin: 0px; padding: 0px; }
.menuoption, .topmenu li { display: inline; 
vertical-align: middle; text-align: center;
/*display: inline-block;*/
line-height: 1.85em;
float:left; 
clear: none; /*remove spacing inbetween divs*/
border:0px solid #000000;
color: #000080;
font-size: 1em;
 /*padding: 0px 9px; */

background-image: url('images/menu-offright.png'), url('images/menu-offback.png'), url('images/menu-offleft.png');
  background-position: right center, center center, left center;
  background-repeat: repeat-y, repeat, repeat-y;
  padding: 0px 12px;


}

.menuoption:hover, .topmenu li:hover{ 
	display: inline-block; 
	/*display: table-cell;*/
	font-size: 1em;
	line-height: 1.85em;
	color: #0066cc;

	background-image: url('images/menu-onright.png'), url('images/menu-onback.png'), url('images/menu-onleft.png');
	background-position: right center, center center, left top;
	background-repeat: repeat-y, repeat, repeat-y;

	cursor: pointer;
}

.topmenu li a:hover { color: #0066cc; }

        .makehigh{ display: table; }
        .makehigh .column { display: table-cell; float: none; }
        /* all columns same height */
        /* https://www.w3schools.com/howto/howto_css_equal_height.asp */

.main, p {
font-size: 1em;
line-height: 1.3em;
letter-spacing: 1px;
text-align: left;
word-spacing: normal;
text-decoration: none;
color: #08080;
}

.menuoption .main, .active, .active a:link, .active a:visited{
	color: #000080;
	background-color: #ffffff;
	background-image: url('images/menu-onflip.png')
}

a:link, a:visited{
	color: #000080;
}

/* ----- forms ----- */
select {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
 color: black;
}

input, input[type='text'], input[type='password'], textarea {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
 color: black;
}

button, button[type='submit']{
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 3px ridge #666666;
 color: black;
}


/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
#ddblueblockmenu{
border: 0px solid black;
border-bottom-width: 0;
/*width: 185px;*/
font-size: 0.8em;
}

#ddblueblockmenu ul{
margin: 0;
padding: 0px;
list-style-type: none;
}

#ddblueblockmenu li a{
display: block;
padding: 6px 0px;
padding-left: 9px;
/* width: 169px; */ /*185px minus all left/right paddings and margins*/
text-decoration: none;
color: #000080;
background-color: none;
border-bottom: 0px solid #F1F1F1;
border-left: 0px solid #C0C0C0;
}



#ddblueblockmenu li a:hover {
background-image: url('images/menu-onback.png');
background-color: #F1F1F1;
border-left-color: #484848;
color: #0066cc;
}

#ddblueblockmenu li .active {
background-color: #F1F1F1;
border-left-color: #C0C0C0;
cursor: default;
}

#ddblueblockmenu div.menutitle{
border-bottom: 3px solid #C0C0C0;
padding: 1px 0;
padding-left: 5px;
/* background-color: #3c3c3c; */ padding-top: 12px;
font-size: 1.15em;
color: #808080;
font-weight: bold;
}


/* footer menu */

.footercontent .block{
  float:left;
  width: 30%;
  margin:0 0 0 5%;
}
.footercontent .twice-length{ width:65%; }
.footercontent .thrice-length{ width:100%; }
* html .footercontent .block{
  margin:0 0 0 4%;
}
.footercontent .first, * html .footercontent .first{
  clear:both;
  margin:0;
}
.footercontent .block-separator{
  clear:both;
  height:2.5em;
}

.footercontent .block h2, .footercontent .block h3{
  /*margin:0 0 2em 0;*/
  margin: 0px;
  font-weight: unset;
}


ul.footermenu{
  list-style-type:none;
  margin:1.5em 0 2em 0;
  border-top:1px solid #c0c0c0;
  padding-left: 0px;
}
ul.footermenu li{
  list-style-type:none;
  margin:0;
  padding:0.5em 0;
  border-bottom:1px solid #c0c0c0;
}
ul.footermenu .date{
  color:#666666;
  padding:0 1.5em 0 0;
}

ul.footermenu .count{
  float:right;
  color:#858585;
}

ul.footermenu a{
  color:#0c0c0c;
  text-decoration:none;
}
ul.footermenu a:hover, ul.footermenu a:hover .date{ 
  color:#0066cc;
}


ul.footermenu ul{
  margin:0;
}
ul.footermenu ul li{
  border:none;
  margin-left:2em;
  list-style-type:square;
}

/* responsive design */
@media screen and (max-width: 1000px) {
	.container { width: 100%; }
}

@media screen and (max-width: 850px) {
	.container { width: 100%; }
}

@media screen and (max-width: 820px) {
	.container { width: 100%; }
	.topmenu li { height: 50px; background-size: contain; line-height: 3em; padding: 0px 1em; }
	.topmenu li:hover { line-height: 3em;}
	.menuhere { height: auto; }
	#ddblueblockmenu li{ margin: 0.85em 0px; }
	ul.footermenu li { padding: 0.85em 0; }
	/* rearrange elements * /
	/* 
	https://webdesign.tutsplus.com/tutorials/a-few-different-css-methods-for-column-ordering--cms-27079
	https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns
	https://www.digitalocean.com/community/tutorials/css-css-grid-layout-fr-unit
	*/
	.makehigh { 
		display: grid !important; 
		grid-template-columns: repeat(1);
	}
	.leftcol { order: 2; float: none !important; }
	.rightcol { order: 3; float: none !important; }
	/* /////_______//// */
	.leftcol{
	background-image: url('images/columndivider.jpg'), url('images/columndivider.jpg'), url('images/horizontal-divider-1.png'),  url('images/horizontal-divider-1.png') ; 
	background-position: left, right, top, bottom;
	background-repeat: repeat-y, repeat-y, repeat-x, repeat-x; 
	}

	.rightcol{
	background-image: url('images/columndivider.jpg'), url('images/columndivider.jpg'), url('images/horizontal-divider-1.png'),  url('images/horizontal-divider-1.png') ; 
	background-position: right, left, top, bottom;
	background-repeat: repeat-y, repeat-y, repeat-x, repeat-x; 
	}
}

@media screen and (max-width: 600px) {
	.footercontent .block { margin: 0px; float: none;  width: 100%; }
	#ddblueblockmenu { font-size: 1.35em; }
	.main, p, .column { line-height: 1.35em; font-size: 1.15em; }
	.logohere { margin-left: 8px; }
}
